analises/*
!analises/web_scraping_ptransp.ipynb

.ipynb_checkpoints/

dados/*
!dados/brutos
dados/brutos/*
!dados/brutos/ptransp
dados/brutos/ptransp/*
!dados/brutos/ptransp/scrap_fnde
!dados/brutos/ptransp/scrap_mdr
dados/brutos/ptransp/scrap_fnde/*
dados/brutos/ptransp/scrap_mdr/*
!dados/brutos/ptransp/scrap_fnde/ptrans_rp9_fnde.csv
!dados/brutos/ptransp/scrap_fnde/documentos-empenho_emendas-relator_FNDE.csv
!dados/brutos/ptransp/scrap_mdr/ptrans_rp9_mdr_scraping.csv
!dados/brutos/ptransp/scrap_mdr/documentos-empenho_emendas-relator_MDR.csv

!dados/processados
dados/processados/*
!dados/processados/empenhos_2021-12_RP9_FNDE_PTransp+Prefeitos-TSE_cleaned.csv
!dados/processados/empenhos_2021-12_RP9_MDR_PTransp+Prefeitos-TSE_cleaned.csv



!dados/aux